<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<security-constraint>
  		<web-resource-collection>
        	<web-resource-name>cron</web-resource-name>
        	<url-pattern>/match</url-pattern>
  		</web-resource-collection>
  		<auth-constraint>
        	<role-name>admin</role-name>
  		</auth-constraint>
	</security-constraint>
	<servlet>
		<servlet-name>Match</servlet-name>
		<servlet-class>es.currexify.server.Match</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Match</servlet-name>
		<url-pattern>/match</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Currexify</servlet-name>
		<servlet-class>es.currexify.server.CurrexifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Currexify</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>es.currexify.server.Profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Modify</servlet-name>
		<servlet-class>es.currexify.server.ModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Modify</servlet-name>
		<url-pattern>/modificar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Friends</servlet-name>
		<servlet-class>es.currexify.server.FriendsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Friends</servlet-name>
		<url-pattern>/friends</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchFriends</servlet-name>
		<servlet-class>es.currexify.server.SearchFriendsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFriends</servlet-name>
		<url-pattern>/searchFriends</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>es.currexify.server.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>es.currexify.server.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Transaction</servlet-name>
	    <servlet-class>es.currexify.server.TransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Transaction</servlet-name>
	    <url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>es.currexify.server.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
  	<servlet>
 	    <servlet-name>NewTransaction</servlet-name>
 	    <servlet-class>es.currexify.server.NewTransactionServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
 	    <servlet-name>NewTransaction</servlet-name>
 	    <url-pattern>/newtransaction</url-pattern>
 	</servlet-mapping>
 	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>es.currexify.server.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
 	<servlet>
		<servlet-name>Pay</servlet-name>
		<servlet-class>es.currexify.server.PayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pay</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>
 	<servlet>
		<servlet-name>AddMoney</servlet-name>
		<servlet-class>es.currexify.server.AddMoneyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMoney</servlet-name>
		<url-pattern>/addMoney</url-pattern>
	</servlet-mapping>
 	<servlet>
		<servlet-name>TakeMoneyOut</servlet-name>
		<servlet-class>es.currexify.server.TakeMoneyOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TakeMoneyOut</servlet-name>
		<url-pattern>/takeMoneyOut</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Prueba1</servlet-name>
		<servlet-class>es.currexify.server.PruebaUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prueba1</servlet-name>
		<url-pattern>/prueba1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Prueba2</servlet-name>
		<servlet-class>es.currexify.server.PruebaMatch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Prueba2</servlet-name>
		<url-pattern>/prueba2</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	    <welcome-file>index</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
